/* CSS */

* {
    font-family: Oswald, sans-serif;
}

/* Classes */

.main {
    background: linear-gradient(135deg, #FEBCFF 0%, #FABEBE 100%);
    height: 100vh;
}

.oval {
    height: 100%;
    background: #FFF5F7;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
}

.col-form-label {
    font-size: 36px;
    line-height: 53px;
}

.btn {
    font-size: 24px;
    line-height: 36px;
}